*{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;


}
button{
    border:2px solid #87B670;
    border-radius: 9px;
    background: #fff;
    color: #C0D997;
}
button:hover{
    
    color: #C0D997;
    background-color: #fff;
    transition: 0.3s;
}
.modal-container{
    background-color: #fff;
    display: flex;
    justify-content: center;
}
.modal-windows{
    z-index: 2;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    width: 400px;
    height: 180px;
    display: none;
  
  }
  .close {
    color: #fff;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    background-color: #fff;
    max-width: 100%;
    min-height:100vh;
    list-style-type: disc;

}
.header{
    max-height: 85px;
   
}
.nav-items{ 
    padding: 22px 55px;
}
.logo-image{
    width: 97px;
    height: 63px;
    margin-top: 8px;
    margin-left: 121px;
    
}
.list-nav{        
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    

 
}
.list-nav li{
    margin-top: 28px;
}

.list-nav li:hover{
    border-bottom: 1px solid #87B670;
    transition: 0.3s;
    cursor: pointer;
}


.btn{

    margin-top: 15px;
    width:180px;
    height:50px;
    margin-right: 121px;
}
.btn:hover,.download-btn:hover{
    background: linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%);
    box-shadow: 0px 10px 30px rgba(135, 182, 112, 0.3);
    background-color: #C0D997;
    color: #fff;
}
@media screen and (max-width: 650px) {
    .list-nav{
        flex-direction: column;
        text-align: center;
        align-items: center;
        
    }

    
}
.download-btn{
    color:#C0D997;
    width:306px;
    height:50px;
    margin-top: 5%;
}

.modal-btn{
    background: linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%);
    box-shadow: 0px 10px 30px rgba(135, 182, 112, 0.3);
    color: #fff;
    width:223px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap:10px;
}
.download{
   margin-top:5%;
   z-index: 1;
   align-self: center;
}

.modal-btn:hover{
    background: #fff;
    color: #97BC5D;
}

/* .main-content{
    display: flex;
} */
.content-green-h2{
    color:#87B670;
    font-size:25px;
    line-height: 140%;
}
.article-container{
    display: flex;
    margin-left: 151px;
    margin-top: 215px;
}

.article-text{
    z-index: 2;
    flex-grow: 2;

}

.mac-img{
    display: flex;
    position: absolute;
    width: 1248px;
    height: 794px;
    margin-left: 321px; 
    margin-top: -175px;
    background: url('../img/png/mac.png');
    background-repeat: no-repeat;
    z-index: 1;
}
.content-green-h2{
    width: 528px;
    font-weight: 600;
    font-size: 25px;
    line-height: 140%;
}
.content-h1{
    font-weight: 500;
    font-size: 55px;
    line-height: 72px;

}
.content-text{
    display: flex;
    flex-wrap: nowrap;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    max-width: 574px; 
}
.container-1-roll{

    background-repeat: no-repeat;
    position: absolute;
    width: 1795.56px;
    height: 1087.53px;
    background: #F7F8F3;
    z-index: -1;
    border-radius: 300px;
    transform: rotate(-10.18deg);
}

.heading{
    margin-top: 15%;
    font-weight: 500;
    font-size: 40px;
    line-height: 131.1%;
}
.flex-article{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.object-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 216px;
    
}


@media screen and(max-width:650px){
    .object-container{
        flex-direction: column;
        align-items: center;
    }
  
}
.object-container-2{
    display: flex;
    justify-content: center;
    align-self: center;
    color: #fff;

}

.left-block, .right-block{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #87B670;
    width: 394px;
    height: 281.2px;
    border-radius: 9px;
    margin-top: 50px;
  
}
.middle-block{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #87B670;
    width: 489px;
    height: 349px;
    border-radius: 9px;
    
}
 

.topic{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
}
.description{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}
@media screen and(max-width:650px) {
    .object-container-2{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.object-container-3{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    text-align: center;

}
@media screen and(max-width:650px){
    .object-container-3{
        flex-direction: column;
        justify-content: center;
    }
}
.flex-column-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    align-items: flex-start;
    background: #F7F8F3;
    border-radius: 35px;    
    width: 1319px;
    height: 479px;

}


.large-span{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 131.1%;
    width: 380px;
}
.small-span{
    text-align: center;
    width: 394px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    
}
.laptop{
    width: 833px;
    height: 479px;
    position: absolute;
    align-self: flex-end;
    border-radius: 35px;
}
.flex-column-1 button{
    margin-left: 5%;
}
.obj-circle{
    width: 659px;
    height: 659px;
    margin-left: -306px;
    opacity: 0.5; 
    background:url('../img/png/circle.png'); 
    background-repeat: no-repeat;
    position:absolute; 
    margin-top: 35%;
}
.flex-column-2{

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    align-self:flex-end;
    background: #F7F8F3;
    border-radius: 35px; 
    width: 1319px;
    height: 479px;
    margin-top:5%;
    margin-left: 120px;

}
.team{
    align-self: flex-start;
    position: absolute;
    background: url('../img/png/team.png');
    background-repeat: no-repeat;
    width: 661px;
    height: 479px;
}
.large-span-1{
    text-align: left;
    margin-right:15%;
    width: 380px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 131.1%;
    
}
.small-span-1{
    text-align: left;
    margin-right: 14%;
    width: 394px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
}
.flex-column-2 button{
    margin-right: 27%;

}
.flex-column-3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 15%;

}

.back-roll{
    position: absolute;

    width: 1872.27px;
    height: 619px;
    background: #F7F8F3;
    border-radius: 300px;
    z-index: -1;
    border-radius: 300px;
    transform: matrix(-0.98, -0.18, -0.18, 0.98, 0, 0);
}
.back-dots{
    position: absolute;
    background: url('../img/png/dots2.png');
    background-repeat: no-repeat;
    justify-content: flex-end;
    width: 266px;
    height: 266px;
    opacity: 0.2;
 

}
.dots{
    background: url('../img/png/cirlcle_wave.png');
    position: absolute;
    width: 33px;
    height: 33px;
    opacity: 0.5;
    
}
.rectangle{
    justify-content: center;
    position: absolute;
    background: url('../img/png/bar.png');
    background-repeat: no-repeat;
    width: 350px;
    height: 5px;
    border-radius: 100px;

}
.column-3-large{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 131.1%;
}
.column-3-small{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
}
.object-container-3 button{
    justify-content: center;
}

.flex-column-4{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    align-self:flex-end;
    border-radius: 35px; 
    width: 1319px;
    height: 479px;
    margin-top:15%;
    margin-left: 120px;
}
.flex-column-4 button{
    z-index: 1;
    align-self: center;
}

.pc{
    position: absolute;
    z-index: -1;
    width: 1319px;
    height: 479px;
    align-self: flex-start;

}
.column-4-large{
    text-align: left;
    margin-right:15%;
    width: 380px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 131.1%;
    position: relative;
    color:#fff;
}
.column-4-small{
    text-align: left;
    margin-right:11%;
    position: relative;
    width: 427px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color:#fff;
}
.column-4-back{
    
    width: 838px;
    height: 479px;
    position: absolute;
    background: #87B670;
    border-radius: 35px; 
}
.flex-column-5{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-end;
    border-radius: 35px; 
    width: 1319px;
    height: 479px;
    margin-top:15%;
    margin-left: 120px;
}
.flex-column-5 button{
   align-self: center;
    z-index: 1;
    margin-left: -60%;

}
.column-5-large{
    width: 380px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 131.1%;
    position: relative;
    color:#fff;
    text-align: left;
    padding-left:5%;

}
.column-5-small{
    position: relative;
    width: 427px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color:#fff;
    text-align: left;
    padding-left:5%;

}
.column-5-back{
    transform: rotate(0.19deg);
    align-self: flex-start;
    width: 838px;
    height: 479px;
    position: absolute;
    background: #87B670;
    border-radius: 35px; 
}
.man{
    position: absolute;
    z-index: 1;
    width: 833px;
    height: 479px;
    align-self: flex-end;
    border-radius: 35px;
    
}
.object-container-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.user-img{
width: 370px;
height: 244px;
}
.user-column-2{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    
}
.user-large-1{
        
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 131.1%;
}
.user-hidden{
    display: none;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
}
.open-btn{
    margin-left:50%;
    background: url('../img/png/open-btn.png');
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
   
}
.open-btn:hover{
    transform: rotate(45deg);
    transition: 0.3s;
}
.user-column-3{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 1196.16px;
    height: 395.01px;
    background-color:#C0D997 ;
    border-radius: 35px;
    color:#fff;
    justify-content: center;
}
.user-column-large{
    text-align: center;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 131.1%;
}
.user-column-small{
    text-align: center;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;

}
.user-column-3 button{
    margin-left:35%;
}
.footer-hr{
    width:80%;
    color:#C0D997;
    margin-left:10%;
    margin-top:5%;
}
footer{
    margin-top:5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 100px;
    align-self: flex-end;
}
.footer-logo{
    width: 65px;
    height: 42px;
    margin-left:10%;
}
.footer-logo-2{
    margin-right:8%;
    filter: drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.25));
}
